name: Build SPFx Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install
        working-directory: training-video-player

      - name: Install gulp CLI
        run: npm install -g gulp-cli

      - name: Bundle solution
        run: gulp bundle --ship
        working-directory: trai
