name: Build SPFx Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Install gulp CLI
        run: npm install -g gulp-cli

      - name: Bundle solution
        run: gulp bundle --ship

      - name: Package solution
        run: gulp package-solution --ship

      - name: Upload SPFx package
        uses: actions/upload-artifact@v4
        with:
          name: spfx-sppkg
          path: sharepoint/solution/*.sppkg
